
.answ {
  min-width: 100px;
  width: 100%;
  margin: 0 15px;
  border-radius: 15px;
  background: #FFF0EB;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
}

.answ:hover {
  background: rgb(224, 163, 18);
  background: linear-gradient(309deg, rgba(224, 163, 18, 0.7567401960784313) 9%, rgba(84, 51, 0, 1) 85%);
  color: #FFF0EB;
}

.answ-selected {
  background-color: yellow;
  border: solid #FFF0EB;
}

.answ-selected.answ-correct {
  background-color: green;
}

.answ-selected.answ-incorrect {
  background-color: red;
}

.answ-show-correct{
  animation: effect 1.2s infinite;
}


@keyframes effect {
  0% {
      background: green;
  }

  100% {
      background:  #FFF0EB;
  }
}

.disabled{
  pointer-events: none;
}