@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Colors */
    --primary-color: #fff;
    --secondary-color: #f44336;
    --background-color: #f5f5f5;
    --text-color: #333;
    --correct-color: #4caf50;
    --incorrect-color: #f44336;

    /* Font */
    --ff-openSans: 'Open Sans',
    sans-serif;
    --fw-thin: 300;
    --fw-bold: 800;
    --fs-h1: 4rem;
    --fs-h3: 3rem;
    --fs-body: 2.2rem

    /* Dimensions */
    --quiz-width: 500px;
    --quiz-height: 400px;
    --quiz-padding: 20px;
    --question-height: 60px;
    --button-height: 40px;
    --button-width: 100px;
}